body{
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr auto 1fr;

}

h1{
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.dino{
grid-column: 1/2;
max-width: auto;
max-height: 150px;
border: 2px solid black;
border-radius: 7px;
align-items: center;
margin-bottom: 10px;
}


main{
border: 2px solid black;
padding: 10px;
border-radius: 7px;
}

article{
    border: 2px solid black;
    border-radius: 7px;
    margin: 10px;
}

nav{
    border: 2px solid black;
    border-radius: 7px;
    margin-right: 10px;
    
}

footer{
    border: 2px solid black;
    border-radius: 7px;
text-align: center;
padding-top: 20px;
margin-top: 10px;
}

h2{
text-align: center;

}

#link{
font-size: 30px;
padding-left: 35px;
}